In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
os.listdir('/content/drive/MyDrive/Recommender system')

['Dataset_User_Agreement.pdf',
 'yelp_academic_dataset_business.json',
 'yelp_academic_dataset_checkin.json',
 'yelp_academic_dataset_review.json',
 'yelp_academic_dataset_tip.json',
 'yelp_academic_dataset_user.json']

In [3]:
import pandas as pd

In [4]:
review = pd.read_json('/content/drive/MyDrive/Recommender system/yelp_academic_dataset_review.json', nrows = 100000, lines=True)

In [5]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [6]:
reviewtest = review.copy()

In [7]:
reviewtest.tail()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
99995,pAEbIxvr6ebx2bHc1XvguA,SMH5CeiLvKx61lKwtLZ_PA,lV0k3BnslFRkuWD_kbKd0Q,4,0,0,0,Came here for lunch with a group. They were bu...,2018-05-30 22:28:56
99996,xH1AoE-4nf2ECGQJRjO4_g,2clTdtp-BjphxLjN83CpUA,G0xz3kyRhRi6oZl7KfR0pA,1,1,0,0,The equipment is so old and so felty! I just u...,2015-04-05 23:31:52
99997,GatIbXTz-WDru5emONUSIg,MRrN6DH3QGCFcDv5RENYVg,C4lZdhasjZVQyDlOiXY1sA,4,0,0,0,This is one of my favorite Mexican restaurants...,2016-06-04 00:59:15
99998,6NfkodAdhvI89xONXuBC3A,rnNQzeKJbvqVCsYsL10mkQ,dChRGpit9fM_kZK5pafNyA,2,0,0,0,Came here for brunch - had an omlette ($19 + t...,2018-06-11 12:45:08
99999,sJ1BMq7lkKgOWEFx3n6ZRw,_BcWyKQL16ndpBdggh2kNA,hMcgO98QaOFmQVTfCUeGzw,5,0,0,0,Came in for my 5-6 month prophy and saw Kara -...,2013-06-06 10:10:33

In [8]:
reviewtest.drop(columns=['review_id'], inplace = True)

In [9]:
reviewtest.head()

,user_id,business_id,stars,useful,funny,cool,text,date
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [10]:
reviewtest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      100000 non-null  object
 1   business_id  100000 non-null  object
 2   stars        100000 non-null  int64
 3   useful       100000 non-null  int64
 4   funny        100000 non-null  int64
 5   cool         100000 non-null  int64
 6   text         100000 non-null  object
 7   date         100000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 6.1+ MB

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import io

In [12]:
reviewtest.nunique()

user_id        79345
business_id     9973
stars              5
useful            52
funny             34
cool              36
text           99964
date           99906
dtype: int64

In [13]:
reviewtest['useful'].sum()

np.int64(89898)

In [14]:
reviewtest.groupby(['user_id', 'business_id']).sum(['useful'])

                                               stars  useful  funny  cool
user_id                business_id
---2PmXbF47D870stH1jqA hKameFsaXh9g8WQbv593UA      5       0      0     0
--4AjktZiHowEIBCMd4CZA EtKSTHV5Qx_Q7Aur9o4kQQ      4       0      0     0
--E0uVPphTORm_OiZ5KCvA dz_aIFbATP2PLWQSOBnMfw      2       0      0     0
--KMTwCrhKKUmr7riuS4WQ 29YqJwOGEuAWqlHZxMc1OA      2       0      0     0
--S8M395r8NtOCvS2LRfDw 3CsBRtDT5WOUu8IY0mHhXw      5       0      0     0
...                                              ...     ...    ...   ...
zzsPf8xNW11nd0B6MZqfRw kqAa2CtPGA-QsZhhbzpzUQ      5       1      0     0
zzsqjDvanJhH9tn8NautOQ a1u9Bxrq_fZxl2pgqQUcJA      5       0      0     0
zztkCqqgR6VntYbqio4UTQ nRKndeZLQ3eDL10UMwS2rQ      5       0      0     0
                       xlzYL_Dwm7RdQzhC0FQgkw      4       0      0     0
zzxUT-fFNXpp5i5xJHmvpA A0zZI5AnaeK4-vKoc9ABmg      3       0      0     0

[99197 rows x 4 columns]

In [15]:
reviewtest.drop(columns=['text'], inplace = True)

In [16]:
reviewtest.head()

,user_id,business_id,stars,useful,funny,cool,date
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,2018-07-07 22:09:11
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,2012-01-03 15:28:18
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,2014-02-05 20:30:30
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,2015-01-04 00:01:03
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,2017-01-14 20:54:15

In [17]:
import numpy as np

In [18]:
reviewtest['interaction_strength'] = reviewtest['stars']*(1+np.log(1+reviewtest['useful']+reviewtest['funny']+reviewtest['cool']))

In [19]:
reviewtest.head()

,user_id,business_id,stars,useful,funny,cool,date,interaction_strength
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,2018-07-07 22:09:11,3.000000
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,2012-01-03 15:28:18,10.493061
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,2014-02-05 20:30:30,3.000000
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,2015-01-04 00:01:03,10.493061
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,2017-01-14 20:54:15,8.394449

In [20]:
reviewtest.drop(columns=['useful', 'funny', 'cool'], inplace = True)

In [21]:
reviewtest.head()

,user_id,business_id,stars,date,interaction_strength
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,2018-07-07 22:09:11,3.000000
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,2012-01-03 15:28:18,10.493061
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,2014-02-05 20:30:30,3.000000
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,2015-01-04 00:01:03,10.493061
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,2017-01-14 20:54:15,8.394449

In [22]:
reviewtest['user_idx'], user_map = pd.factorize(reviewtest['user_id'])
reviewtest['business_idx'], business_map = pd.factorize(reviewtest['business_id'])

In [23]:
reviewtest.head(20)

,user_id,business_id,stars,date,interaction_strength,user_idx,business_idx
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,2018-07-07 22:09:11,3.000000,0,0
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,2012-01-03 15:28:18,10.493061,1,1
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,2014-02-05 20:30:30,3.000000,2,2
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,2015-01-04 00:01:03,10.493061,3,3
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,2017-01-14 20:54:15,8.394449,4,4
5,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,2015-09-23 23:10:31,2.609438,5,5
6,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,2015-01-03 23:21:18,10.493061,6,6
7,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,2015-08-07 02:29:16,10.493061,7,7
8,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3,2016-03-30 22:46:33,6.295837,8,8
9,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3,2016-07-25 07:31:06,3.000000,9,9
10,1WHRWwQmZOZDAhp2Qyny4g,uMvVYRgGNXf5boolA9HXTw,5,2015-06-21 14:48:06,10.493061,10,10
11,ZbqSHbgCjzVAqaa7NKWn5A,EQ-TZ2eeD_E0BHuvoaeG5Q,4,2015-08-19 14:31:45,4.000000,11,11
12,9OAtfnWag-ajVxRbUTGIyg,lj-E32x9_FA7GmUrBGBEWg,4,2014-06-27 22:44:01,4.000000,12,12
13,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,2009-10-14 19:57:14,4.000000,13,13
14,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4,2011-10-27 17:12:05,8.394449,14,14
15,1C2lxzUo1Hyye4RFIXly3g,BVndHaLihEYbr76Z0CMEGw,5,2014-10-11 16:22:06,5.000000,15,15
16,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5,2013-06-24 11:21:25,5.000000,16,16
17,j2wlzrntrbKwyOcOiB3l3w,rBdG_23USc7DletfZ11xGA,4,2014-08-10 19:41:43,6.772589,17,17
18,NDZvyYHTUWWu-kqgQzzDGQ,CLEWowfkj-wKYJlQDqT1aw,5,2016-03-07 00:02:18,11.931472,18,18
19,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5,2014-11-12 15:30:27,5.000000,19,19

In [24]:
reviewtest.loc[reviewtest.user_idx==4].head()

,user_id,business_id,stars,date,interaction_strength,user_idx,business_idx
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,2017-01-14 20:54:15,8.394449,4,4
40616,bcjbaE6dDog4jkNY91ncLQ,du_yelFmWOZDEyIAE-jdsQ,3,2015-04-30 19:28:47,5.079442,4,7479
89280,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,2018-07-28 20:39:45,4.000000,4,4

In [25]:
reviewtest.drop(columns=['user_id', 'business_id'], inplace=True)

In [26]:
reviewtest.head()

   stars                date  interaction_strength  user_idx  business_idx
0      3 2018-07-07 22:09:11              3.000000         0             0
1      5 2012-01-03 15:28:18             10.493061         1             1
2      3 2014-02-05 20:30:30              3.000000         2             2
3      5 2015-01-04 00:01:03             10.493061         3             3
4      4 2017-01-14 20:54:15              8.394449         4             4

In [27]:
reviewtest.drop(columns=['interaction_strength'], inplace = True)

In [28]:
rm1 = reviewtest.copy()

In [29]:
rm1.head()

   stars                date  user_idx  business_idx
0      3 2018-07-07 22:09:11         0             0
1      5 2012-01-03 15:28:18         1             1
2      3 2014-02-05 20:30:30         2             2
3      5 2015-01-04 00:01:03         3             3
4      4 2017-01-14 20:54:15         4             4

In [30]:
rm = (
    rm1
    .groupby(['user_idx', 'business_idx'], as_index=False)['stars'].mean()
)

In [31]:
rm.head()

   user_idx  business_idx  stars
0         0             0    3.0
1         0           927    3.0
2         1             1    5.0
3         1           826    5.0
4         2             2    3.0

In [32]:
rm_small = rm.copy()

In [33]:
rm_small = rm_small.head(1000)

In [34]:
rm_small.shape

(1000, 3)

In [35]:
rm_small = rm_small.pivot(index = 'user_idx', columns ='business_idx', values = 'stars').fillna(0)
rm_small.head()

business_idx,0,1,2,3,4,5,6,7,8,9,...,8831,8862,8899,8902,9229,9252,9277,9354,9581,9774
user_idx,,,,,,,,,,,,,,,,,,,,,
0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
rm_small.shape

(456, 821)

In [37]:
K = 1
P = np.random.normal(size=(rm_small.shape[0], K))
Q = np.random.normal(size=(rm_small.shape[1], K))

In [38]:
def matrix_factorization(R, P, Q, K, steps=10000, alpha=0.0001, beta=0.002):
    Q = Q.T
    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] == 0:
                    continue
                eij = R[i][j] - np.dot(P[i,:],Q[:,j])
                for k in range(K):
                    x = P[i][k]
                    P[i][k] += alpha * ((2 * eij * Q[k][j])  - beta * P[i][k])
                    Q[k][j] += alpha * ((2 * eij * x)  - beta * Q[k][j])
    return P, Q.T

In [39]:
P_, Q_ =  matrix_factorization(rm_small.values.copy(), P.copy(), Q.copy(), 1)

In [40]:
(rm_small>0).sum().sum()/(rm_small.shape[0]*rm_small.shape[1])

np.float64(0.00267111139602966)

In [41]:
from sklearn.metrics import mean_squared_error as mse
rm_ = np.dot(P_, Q_.T)
mse(rm_small.values[rm_small > 0], rm_[rm_small > 0])**0.5

1.0160915195233782